n8n-workflows/lead-machine-communications.json
{
  "name": "Lead Machine - Communications & Response Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "minutes", "minutesInterval": 15}]}
      },
      "id": "check-inbox-schedule",
      "name": "Check Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://lead-machine:8000/api/smtp/accounts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "lead-machine-secure-key-2024"}
          ]
        },
        "options": {}
      },
      "id": "get-accounts",
      "name": "Get SMTP Accounts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const accounts = $input.first().json.accounts || [];\nreturn accounts.filter(a => a.is_active).map(a => ({ json: a }));"
      },
      "id": "split-accounts",
      "name": "Split Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lead-machine:8000/api/communications/check-inbox",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "lead-machine-secure-key-2024"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "smtp_account_id", "value": "={{ $json.id }}"}
          ]
        },
        "options": {"timeout": 60000}
      },
      "id": "check-inbox",
      "name": "Check Inbox for Responses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "leftValue": "={{ $json.saved }}",
              "rightValue": 0,
              "operator": {"type": "number", "operation": "gt"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-responses",
      "name": "Has New Responses?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/YOUR_WEBHOOK_ID",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'new_response', responses: $json.saved, message: 'You have ' + $json.saved + ' new email responses!' }) }}",
        "options": {}
      },
      "id": "notify-new-responses",
      "name": "Notify Ben (Email/Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1280, 200]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "no-responses",
      "name": "No New Responses",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1280, 400]
    }
  ],
  "connections": {
    "Check Every 15 Minutes": {
      "main": [[{"node": "Get SMTP Accounts", "type": "main", "index": 0}]]
    },
    "Get SMTP Accounts": {
      "main": [[{"node": "Split Accounts", "type": "main", "index": 0}]]
    },
    "Split Accounts": {
      "main": [[{"node": "Check Inbox for Responses", "type": "main", "index": 0}]]
    },
    "Check Inbox for Responses": {
      "main": [[{"node": "Has New Responses?", "type": "main", "index": 0}]]
    },
    "Has New Responses?": {
      "main": [
        [{"node": "Notify Ben (Email/Slack)", "type": "main", "index": 0}],
        [{"node": "No New Responses", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": ["lead-machine", "communications", "inbox"]
}
